[submodule "themes/academic"]
	path = themes/academic
	url = git@github.com:jvrsgsty/hugo-academic.git
  branch = review
[submodule "public"]
	path = public
	url = git@github.com:jvrsgsty/jvrsgsty.github.io.git
	branch = master
